<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- Loader starts-->
    <%- include('../partials/loader.ejs') %>
    <!-- Loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <%- include('../partials/pageHeader.ejs') %>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <%- include('../partials/sideNav.ejs') %>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <% if(typeof message !== 'undefined'){ %>
                    <div
                      class="alert alert-warning alert-dismissible fade show"
                      role="alert"
                    >
                      <strong><%= message %> </strong>
                      <button
                        type="button"
                        class="btn-close"
                        data-bs-dismiss="alert"
                        aria-label="Close"
                      ></button>
                    </div>
                    <% } %>
                  <h3>Add Invoice</h3>
                </div>
                <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html"> <i data-feather="home"></i></a>
                    </li>
                    <li class="breadcrumb-item">Invoice</li>
                    <li class="breadcrumb-item active">Add Invoice</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="edit-profile">
              <div class="row">
                <div class="col-xl-6">
                  <form class="card" method="post" action="/invoice/add-invoice" enctype="multipart/form-data">
                    <div class="card-header pb-0">
                      <h4 class="card-title mb-0">Add Invoice</h4>
                      <div class="card-options">
                        <a
                          class="card-options-collapse"
                          href="#"
                          data-bs-toggle="card-collapse"
                          ><i class="fe fe-chevron-up"></i></a
                        ><a
                          class="card-options-remove"
                          href="#"
                          data-bs-toggle="card-remove"
                          ><i class="fe fe-x"></i
                        ></a>
                      </div>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Invoice Title</label>
                            <input
                              class="form-control"
                              type="text"
                              placeholder="title"
                              name="title"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Invoice Number</label>
                            <input
                              class="form-control"
                              type="text"
                              placeholder="invoice number"
                              name="invoiceNumber"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Amount</label>
                            <input
                              class="form-control"
                              type="text"
                              placeholder="amount"
                              name="amount"
                              required
                            />
                          </div>
                        </div>
                        <div class="col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Amount</label>
                            <select
                              class="form-control btn-square"
                              name="cashType"
                              required
                            >
                            <option value="">--Select--</option>
                            <option value="Cash in">Cash In</option>
                            <option value="Cash out">Cash Out</option>
                          </select>
                          </div>
                        </div>
                        <div class="col-sm-12 col-md-12">
                          <div class="mb-3">
                            <label class="form-label">Invoice Image</label>
                            <input
                              class="form-control"
                              type="file"
                              name="imageName"
                              required
                            />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="card-footer text-end">
                      <button class="btn btn-primary" type="submit">
                        Add Invoice
                      </button>
                    </div>
                  </form>
                  <!-- Container-fluid Ends-->
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- footer start-->
        <%- include('../partials/footer.ejs') %>
      </div>
    </div>
    <%- include('../partials/jsLibrary.ejs') %>
  </body>
</html>
