<html>
  <head>
    <%- include('../partials/head.ejs') %>
  </head>
  <body>
    <!-- Loader starts-->
    <%- include('../partials/loader.ejs') %>
    <!-- Loader ends-->
    <!-- tap on top starts-->
    <div class="tap-top"><i data-feather="chevrons-up"></i></div>
    <!-- tap on tap ends-->
    <!-- page-wrapper Start-->
    <div class="page-wrapper compact-wrapper" id="pageWrapper">
      <!-- Page Header Start-->
      <%- include('../partials/pageHeader.ejs') %>
      <!-- Page Header Ends                              -->
      <!-- Page Body Start-->
      <div class="page-body-wrapper">
        <!-- Page Sidebar Start-->
        <%- include('../partials/sideNav.ejs') %>
        <!-- Page Sidebar Ends-->
        <div class="page-body">
          <div class="container-fluid">
            <div class="page-title">
              <div class="row">
                <div class="col-12 col-sm-6">
                  <% if(typeof message !== 'undefined'){ %>
                  <div
                    class="alert alert-success alert-dismissible fade show"
                    role="alert"
                  >
                    <strong><%= message %></strong>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="alert"
                      aria-label="Close"
                    ></button>
                  </div>
                  <% } %>
                  <h3>Asset List</h3>
                </div>
                <div class="col-12 col-sm-6">
                  <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                      <a href="index.html"> <i data-feather="home"></i></a>
                    </li>
                    <li class="breadcrumb-item">Asset</li>
                    <li class="breadcrumb-item active">Asset Type List</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!-- Container-fluid starts-->
          <div class="container-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="card">
                  <div class="card-header pb-0">
                    <h5 class="mb-3">Asset Type List</h5>
                  </div>
                  <div class="card-body">
                    <div class="table-responsive">
                      <table class="display" id="advance-1">
                        <thead>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% if(typeof assetData !== 'undefined'){
                          assetData.map((data) => { %>
                          <tr>
                            <td><%=data.name%></td>
                            <td><%=data.description%></td>
                          </tr>
                          <% }) } %>
                        </tbody>
                        <tfoot>
                          <tr>
                            <th>Name</th>
                            <th>Description</th>
                            
                          </tr>
                        </tfoot>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <!-- DOM / jQuery  Ends-->

              <!-- Column rendering Ends-->
            </div>
          </div>
          <!-- Container-fluid Ends-->
        </div>
        <!-- footer start-->
        <%- include('../partials/footer.ejs') %>
      </div>
    </div>
    <%- include('../partials/jsLibrary.ejs') %>
  </body>
</html>
